body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}


nav{
  text-align: center;
  padding: 10px;
  background: gray;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

figcaption{
   text-align: center;
   font-size: small; 
}

#featured-property{
  width: 800px;
  text-align: center;
}



#details div{
  display: block;
  text-align: center;
  margin: auto;
  float: left;
  background-color: red;
}