body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}


nav{
  text-align: center;
}

img{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption{
   text-align: center;
   font-size: small; 
}

#featured-property{
  width: 800px;
  text-align: center;
}

div{
  background-color: red;
  margin:0 auto;
  width: 800px;
}